<div class="form-group">
    <label>{{localize "PF2E.FeatTypeLabel"}}</label>
    <select name="data.featType.value" data-dtype="String">
        {{#select data.featType.value}}
        {{#each featTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "PF2E.FeatActionTypeLabel"}}</label>
    <select name="data.actionType.value" data-dtype="String">
        {{#select data.actionType.value}}
        {{#each featActionTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "PF2E.FeatActionsLabel"}}</label>
    <select name="data.actions.value" data-dtype="String">
        {{#select data.actions.value}}
        <option value=""></option>
        {{#each actionsNumber as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "PF2E.ActionCategoryLabel"}}</label>
    <select name="data.actionCategory.value" data-dtype="String">
        {{#select data.actionCategory.value}}
        <option value=""></option>
        {{#each categories as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "PF2E.Rarity"}}</label>
    <select name="data.traits.rarity.value" data-dtype="String">
        {{#select data.traits.rarity.value}}
        {{#each rarity as |label key|}}
        <option value="{{key}}">{{localize label}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group-stacked">
  <label for="data.prerequisites">
      {{localize "PF2E.FeatPrereqLabel"}}
      <a class="trait-selector" data-options="prerequisitePlaceholders" data-has-placeholders="true" data-width="375"><i class="fas fa-edit"></i></a>
  </label>
    <label></label>
    <!--<input type="text" name="data.prerequisites.value" value="{{data.prerequisites.value}}"
           data-dtype="String"/>  -->
     <ul class="traits-list">
        {{#each data.prerequisites as |v k j l| }}
            <span class="tag {{k}}">{{v}}</span>
        {{/each}}
     </ul>

</div>

<div class="form-group">
    <label>{{localize "PF2E.FeatLevelLabel"}}</label>
    <input type="text" name="data.level.value" value="{{data.level.value}}"
            data-dtype="Number"/>
</div>

<div class="form-group-stacked">
  <label for="data.traits">
    {{localize "PF2E.TraitsLabel"}}
    <a class="trait-selector" data-options="featTraits"><i class="fas fa-edit"></i></a>
  </label>
  <ul class="traits-list pf-value pf-large">
    {{#each data.traits.value as |v k|}}
    <span class="tag {{k}}">{{v}}</span>
    {{/each}}
  </ul>
</div>
