<div class="tab character" data-group="primary" data-tab="character">
    <section class="character-details">
        <div class="frame">
            <img
                class="player-image"
                alt="{{actor.name}}"
                src="{{actor.img}}"
                title="{{actor.name}}"
                data-edit="img"
            />
        </div>
        <div class="alignment">
            <span
                class="bio-alignment pf-value pf-small"
                title="{{localize 'PF2E.AlignmentTitle'}}"
            >
                <select
                name="data.details.alignment.value"
                data-dtype="text"
                >
                    {{#select data.details.alignment.value}}
                        {{#each alignment as |label key|}}
                        <option value="{{key}}">{{label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </span>
        </div>
        <div class="deity">
            <div class="dropdown">
                <label for="deity-dropdown">
                    {{localize 'PF2E.Deity'}}
                </label>
                <input
                    id="pc pc_deity"
                    name="data.details.deity.value"
                    type="text"
                    value="{{data.details.deity.value}}"
                    data-dtype="String"
                />
            </div>
            <img
                src="{{data.details.deity.image}}"
                alt="{{data.details.deity.value}}"
                title="{{localize 'PF2E.DeityTitle'}}"
                data-edit="data.details.deity.image"
            />
        </div>
        <div class="detail-sheet">
          <div class="pc pc_ancestry item" data-item-id="{{ancestryItemId}}">
            <label for="pc_ancestry">
              {{localize 'PF2E.Ancestry'}}
            </label>
            <span title="{{localize 'PF2E.AncestryTitle'}}">
              <h3>
                <span class="value">{{data.details.ancestry.value}}</span>
                {{#if ancestryItemId}}
                  <a class="item-edit"><i class="fas fa-edit"></i></a>
                {{else}}
                  <a class="open-compendium" data-compendium="pf2e.ancestries"><i class="fas fa-plus-circle"></i></a>
                {{/if}}
              </h3>
            </span>
          </div>
          <div class="pc pc_heritage">
            <label for="pc_heritage">
              {{localize 'PF2E.Heritage'}}
            </label>
            <span title="{{localize 'PF2E.HeritageTitle'}}">
              <input
              id="pc pc_heritage"
              name="data.details.heritage.value"
              type="text"
              value="{{data.details.heritage.value}}"
              data-dtype="String"
              />
            </span>
          </div>
          <div class="pc pc_class item" data-item-id="{{classItemId}}">
            <label for="pc_class">
              {{localize 'PF2E.Class'}}
            </label>
            <span title="{{localize 'PF2E.ClassTitle'}}">
              <h3>
                <span class="value">{{data.details.class.value}}</span>
                {{#if classItemId}}
                  <a class="item-edit"><i class="fas fa-edit"></i></a>
                {{else}}
                  <a class="open-compendium" data-compendium="pf2e.classes"><i class="fas fa-plus-circle"></i></a>
                {{/if}}
              </h3>
            </span>
          </div>
          <div class="pc pc_background item" data-item-id="{{backgroundItemId}}">
            <label for="pc_background">
              {{localize 'PF2E.Background'}}
            </label>
            <span title="{{localize 'PF2E.BackgroundTitle'}}">
              <h3>
                <span class="value">{{data.details.background.value}}</span>
                {{#if backgroundItemId}}
                  <a class="item-edit"><i class="fas fa-edit"></i></a>
                {{else}}
                  <a class="open-compendium" data-compendium="pf2e.backgrounds"><i class="fas fa-plus-circle"></i></a>
                {{/if}}
              </h3>
            </span>
          </div>
        </div>
    </section>

    <hr />
    <section class="character-background">
        {{> systems/pf2e/templates/actors/crb-style/character-background.html}}
    </section>

    <hr />
    <section class="character-traits">
        {{> systems/pf2e/templates/actors/crb-style/character-traits.html}}
    </section>

    <h3>{{localize 'PF2E.AbilityScoresHeader'}}</h3>
    <section class="character-abilities">
        {{> systems/pf2e/templates/actors/crb-style/character-abilities.html}}
    </section>

    <footer>
      This system for FoundryVTT uses trademarks and/or copyrights owned
      by Paizo Inc., which are used under Paizo's Community Use Policy. We
      are expressly prohibited from charging you to use or access this
      content. This system for FoundryVTT is not published, endorsed, or
      specifically approved by Paizo Inc. For more information about
      Paizo's Community Use Policy, please visit
      <a href="https://paizo.com/community/communityuse">paizo.com/communityuse</a>.
      For more information about Paizo Inc. and Paizo products, please
      visit <a href="https://paizo.com/">paizo.com</a>.
    </footer>
</div>
